# Domain configuration
DOMAIN=cupcake.ytconvert.org
EMAIL=admin@ytconvert.org

# YouTube Downloader Service
YT_PORT=5001
BASE_URL=https://cupcake.ytconvert.org

# WARP Proxy credentials (port 1111)
WARP_USER=wrap
WARP_PASS=1111

# Direct Proxy credentials (port 2222)
DIRECT_USER=server
DIRECT_PASS=2222
