{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "API for downloading YouTube videos and audio",
        "title": "YT Downloader API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "email": "support@ytconvert.org"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "2.0"
    },
    "host": "api.ytconvert.org",
    "basePath": "/",
    "paths": {
        "/api/download": {
            "post": {
                "description": "Create a new download job for a YouTube video or audio",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "download"
                ],
                "summary": "Create download job",
                "parameters": [
                    {
                        "description": "Download request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.DownloadRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.DownloadResponse"
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "No stream found",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/jobs/{id}": {
            "delete": {
                "description": "Delete a job and its associated files",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "jobs"
                ],
                "summary": "Delete job",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.DeleteResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid job ID",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Job not found",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Delete failed",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/api/status/{id}": {
            "get": {
                "description": "Check the status and progress of a download job",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "status"
                ],
                "summary": "Get job status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Signed URL token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Expiration timestamp",
                        "name": "expires",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.StatusResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid job ID",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Missing token or expires",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Invalid or expired token",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Job not found",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/files/{id}/{filename}": {
            "get": {
                "description": "Download the merged output file",
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "files"
                ],
                "summary": "Download file",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Output filename",
                        "name": "filename",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Signed URL token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Expiration timestamp",
                        "name": "expires",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Output file",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Missing auth",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Invalid token",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "description": "Check if the server is running",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "health"
                ],
                "summary": "Health check",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.HealthResponse"
                        }
                    }
                }
            }
        },
        "/stream/{id}": {
            "get": {
                "description": "Stream video/audio using FFmpeg pipe (realtime remux/convert)",
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "stream"
                ],
                "summary": "Stream video/audio",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Signed URL token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Expiration timestamp",
                        "name": "expires",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Media stream",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "307": {
                        "description": "Redirect to download URL"
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Missing auth",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Invalid token",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Stream failed",
                        "schema": {
                            "$ref": "#/definitions/utils.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.AudioConfig": {
            "description": "Audio configuration",
            "type": "object",
            "properties": {
                "bitrate": {
                    "type": "string",
                    "enum": [
                        "64k",
                        "128k",
                        "192k",
                        "320k"
                    ],
                    "example": "192k"
                },
                "trackId": {
                    "type": "string",
                    "example": "en.vss_abc123"
                }
            }
        },
        "models.DeleteResponse": {
            "description": "Delete job response",
            "type": "object",
            "properties": {
                "deleted": {
                    "type": "boolean",
                    "example": true
                }
            }
        },
        "models.DownloadRequest": {
            "description": "Download request payload",
            "type": "object",
            "properties": {
                "audio": {
                    "$ref": "#/definitions/models.AudioConfig"
                },
                "os": {
                    "type": "string",
                    "enum": [
                        "ios",
                        "android",
                        "macos",
                        "windows",
                        "linux"
                    ],
                    "example": "windows"
                },
                "output": {
                    "$ref": "#/definitions/models.OutputConfig"
                },
                "trim": {
                    "$ref": "#/definitions/models.TrimConfig"
                },
                "url": {
                    "type": "string",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                }
            }
        },
        "models.DownloadResponse": {
            "description": "Response after creating a download job",
            "type": "object",
            "properties": {
                "duration": {
                    "type": "number",
                    "example": 213.5
                },
                "statusUrl": {
                    "type": "string",
                    "example": "https://api.ytconvert.org/api/status/V1StGXR8_Z5jdHi?token=xxx&expires=xxx"
                },
                "needsReencode": {
                    "type": "boolean",
                    "example": false
                },
                "qualityChangeReason": {
                    "type": "string",
                    "example": "1080p not available, using 720p"
                },
                "qualityChanged": {
                    "type": "boolean",
                    "example": true
                },
                "requestedQuality": {
                    "type": "string",
                    "example": "1080p"
                },
                "selectedQuality": {
                    "type": "string",
                    "example": "720p"
                },
                "title": {
                    "type": "string",
                    "example": "Rick Astley - Never Gonna Give You Up"
                }
            }
        },
        "models.HealthResponse": {
            "description": "Health check response",
            "type": "object",
            "properties": {
                "status": {
                    "type": "string",
                    "example": "ok"
                },
                "timestamp": {
                    "type": "integer",
                    "example": 1705123456789
                }
            }
        },
        "models.OutputConfig": {
            "description": "Output configuration",
            "type": "object",
            "properties": {
                "format": {
                    "type": "string",
                    "enum": [
                        "mp4",
                        "webm",
                        "mkv",
                        "mp3",
                        "m4a",
                        "wav",
                        "opus",
                        "flac"
                    ],
                    "example": "mp4"
                },
                "quality": {
                    "type": "string",
                    "enum": [
                        "2160p",
                        "1440p",
                        "1080p",
                        "720p",
                        "480p",
                        "360p"
                    ],
                    "example": "1080p"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "video",
                        "audio"
                    ],
                    "example": "video"
                }
            }
        },
        "models.StatusResponse": {
            "description": "Job status response",
            "type": "object",
            "properties": {
                "downloadUrl": {
                    "type": "string",
                    "example": "https://api.ytconvert.org/files/abc123/output.mp4?token=xxx\u0026expires=123"
                },
                "duration": {
                    "type": "number",
                    "example": 213.5
                },
                "jobError": {
                    "type": "string",
                    "example": "Download failed: connection timeout"
                },
                "progress": {
                    "type": "integer",
                    "example": 45
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "pending",
                        "completed",
                        "error"
                    ],
                    "example": "pending"
                },
                "title": {
                    "type": "string",
                    "example": "Rick Astley - Never Gonna Give You Up"
                }
            }
        },
        "models.TrimConfig": {
            "description": "Trim configuration",
            "type": "object",
            "properties": {
                "accurate": {
                    "type": "boolean",
                    "example": false
                },
                "end": {
                    "type": "number",
                    "example": 60
                },
                "start": {
                    "type": "number",
                    "example": 10
                }
            }
        },
        "utils.ErrorDetail": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "utils.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "$ref": "#/definitions/utils.ErrorDetail"
                }
            }
        }
    }
}